:root {
  --primary: #0c0c0c;
  --secondary: #e9e9e9;
}

@font-face {
  font-family: navText;
  src: url("fonts/NeueMachina-Light_gwWCZxVuQl.ttf");
}

@font-face {
  font-family: GilRoyMid;
  src: url("fonts/Gilroy-Medium_eHDK2RllDd.ttf");
}

@font-face {
  font-family: GilRoyBold;
  src: url("fonts/Gilroy-Bold_JK4cTGJOE.ttf");
}

@font-face {
  font-family: font1;
  src: url("fonts/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2");
}

@font-face {
  font-family: font2;
  src: url("fonts/Fontspring-DEMO-juana-extralightit_toKzXEsfr.ttf");
}

@font-face {
  font-family: font3;
  src: url("fonts/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2");
}

@font-face {
  font-family: font4;
  src: url("fonts/remixicon.woff2");
}
@font-face {
  font-family: font5;
  src: url("fonts/NeueMachina-Light_gwWCZxVuQl.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  scrollbar-width: 1px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 5rem;
  position: fixed;
  top: 0;
  z-index: 11111;
  backdrop-filter: blur(5px);
}

nav > .left,
img {
  width: 42px;
}

nav > .left {
  display: flex;
  align-items: end;
  justify-items: center;
  gap: 1vw;

  width: 15vw;
  color: #ffffffb6;
}

nav > .left > h2,
span {
  font-family: font5;
  font-size: 1.2vw;
  font-weight: 400;
}

nav > .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  list-style: none;
  font-family: font1;
  font-size: 1rem;
  color: var(--secondary);
}

nav > .right > li > span {
  font-weight: bolder;
  font-family: navText;
  font-size: 1.2rem;
  color: aliceblue;
}

nav > .right > button {
  padding: 8px 20px;
  border: none;
  font: bold;
  background-color: #24cfa6;
  font-size: 1.1rem;
  border-radius: 5px;
}

nav > .nav3 {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  font-size: 1.5rem;
  display: none;
}

main {
  padding: 0.8rem 5rem;
  margin-top: 5rem;
  display: flex;
  gap: 5rem;
  align-items: start;
  width: 100%;
  justify-content: space-between;
}

main > .left-section {
  width: 40vw;
}

main > .left-section > h1 {
  color: #e9e9e9;
  font-size: 3vw;
  font-family: font1;
  /* letter-spacing: 2px; */
  font-weight: 700;
}

.btns {
  margin-top: 1.4vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.8vw;
}

.btns > .tp,
.bt {
  display: flex;
  gap: 0.6vw;
}

.btns > .tp > button {
  padding: 0.7vw 1.5vw;
  color: #e9e9e9;
  font-size: 0.9vw;
  font-weight: 700;
  background-color: #212121;
  border: none;
  border-radius: 6px;
}

.btns > .bt > button {
  padding: 0.7vw 1.5vw;
  color: #e9e9e9;
  font-size: 0.9rem;
  font-weight: 700;
  background-color: #212121;
  border: none;
  border-radius: 6px;
}

.price {
  margin-top: 2.5vw;
  flex-direction: column;
  /* background-color: #e9e9e9; */
}

.price > p {
  color: #e9e9e9;
  font-size: 3vw;
  font-family: font3;
  font-weight: 900;
}

.price > p > .priceValue {
  color: #02e797;
  font-size: 0.83em;
  font-weight: 900;
  font-family: GilRoyMid;
}
.price > p > small {
  font-size: 1.4vw;
}
.price > p > .originalValue {
  font-size: 0.6em;
  position: relative;
  color: #cbcbcb;
  opacity: 0.7;
  font-family: font1;
}

.price > p > .originalValue::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 105%;
  background-color: #cbcbcb;
  height: 1px;
}

.price > .scratch {
  font-size: 1.1vw;
  font-weight: 700;
  color: #02e797;
  font-family: font1;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.buy-btn {
  margin-top: 2vw;
}
.buy-btn > .buy {
  background-color: #009560;
  color: #e9e9e9;
  padding: 1.2vw 5vw;
  font-size: 1.5vw;
  border: none;
  border-radius: 6px;
  font-weight: 900;
  font-family: GilRoyBold;
}
.buy-btn > .syllabus {
  color: #f0f0f0;
  background-color: #353535;
  margin-left: 0.8rem;
  padding: 1.2vw 4vw;
  font-size: 1.5rem;
  border: none;
  border-radius: 6px;
  font-weight: 900;
  font-family: GilRoyBold;
}

h2 {
  color: white;
  margin-top: 0.8vw;
  font-size: 1.2vw;
  font-family: font1;
  font-weight: 400;
}

h2 > .date {
  color: #02e797;
}

main .right {
  background-color: #212121;
  width: 50%;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

main > .right > .right-in > .image {
  width: 100%;
  /* height: 350px; */
}

main > .right > .play-circ {
  position: absolute;
  color: #e9e9e9;
  font-size: 6vw;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main > .right > .plc {
  position: absolute;
  top: 5%;
  z-index: 111;
  color: #e9e9e9;
  right: 7%;
  padding: 0.5vw 1.2vw;
  border-radius: 8px;
  background-color: #0c0c0c;
  font-size: 0.7vw;
  font-weight: 600;
  font-family: font3;
  text-transform: uppercase;
}
main .right .right-in .image img {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

main > .right > .right-in > .image-bottom {
  padding: 1.4vw;
  background-color: #1e1e1e;
  padding-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.2vw;
}

.image-bottom > h4 > span,
.time {
  color: #02e797;
  font-family: font1;
}
.image-bottom > h4 {
  padding: 0.8vw 1vw;
  font-size: 15px;
  font-weight: 300;
  border-radius: 6px;
  background-color: #151515;
  width: 19vw;
  color: white;
  font-family: GilRoyMid;
  text-transform: capitalize;
}

.page-2 {
  height: 100vh;
  width: 100%;
  padding: 100px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-2  h1 {
  font-family: font3;
  font-size: 150px;
  /* color: #e9e9e9; */
  background-image: url("https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/mask%20Large_ZB4lGN8hWZ.png");
  background-size: cover;
  background-clip: text;
  color: transparent;
  position: relative;
}

.page-2 h1.bloom {
  position: absolute;
  filter: blur(80px);
}

.page-2 h3 {
  font-size: 45px;
  color: #cbcbcb;
  font-family: font3;
  font-weight: 100;
  text-transform: capitalize;
  letter-spacing: -1px;
}

@media (max-width: 1350px) {
  nav {
    padding: 0.5rem 4.5rem;
  }

  nav > .left,
  img {
    width: 2.2rem;
  }

  nav > .left {
    gap: 1vw;
    width: 15vw;
    color: #ffffffb6;
  }

  nav > .left > h2,
  span {
    font-family: font5;
    font-size: 1.2vw;
    font-weight: 400;
  }

  nav > .right {
    gap: 2.5rem;
    font-size: 0.9rem;
  }

  nav > .right > li > span {
    font-weight: 700;
    font-family: navText;
    font-size: 1.12rem;
    color: aliceblue;
  }

  nav > .right > button {
    padding: 8px 17px;
    border: none;
    font: bold;
    background-color: #24cfa6;
    font-size: 1rem;
    border-radius: 5px;
  }

  main > .left-section > h1 {
    color: #e9e9e9;
    font-size: 3vw;
    font-family: font1;
    font-weight: 700;
    width: 80%;
    line-height: 3.5vw;
  }

  .btns {
    margin-top: 15px;
    gap: 6px;
  }

  .btns > .tp,
  .bt {
    display: flex;
    gap: 10px;
  }

  .price {
    margin-top: 2.5rem;
  }

  .price > p {
    color: #e9e9e9;
    font-size: 2.2rem;
    font-family: font1;
    font-weight: 700;
  }

  .price > p > .priceValue {
    color: #02e797;
    font-size: 0.83em;
  }
  .price > p > small {
    font-size: 1.2rem;
    font-family: GilRoyMid;
  }
  .price > p > .originalValue {
    font-size: 0.6em;
    position: relative;
    color: #cbcbcb;
    opacity: 0.7;
    font-family: font1;
  }

  .price > p > .originalValue::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    width: 105%;
    background-color: #cbcbcb;
    height: 1px;
  }

  .price > .scratch {
    font-size: 1.1vw;
    font-weight: 700;
    color: #02e797;
    font-family: font1;
    text-transform: capitalize;
    letter-spacing: 1px;
  }

  .buy-btn {
    margin-top: 2vw;
  }
  .buy-btn > .buy {
    background-color: #009560;
    color: #e9e9e9;
    padding: 1rem 4rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    font-weight: 900;
    font-family: GilRoyBold;
  }
  .buy-btn > .syllabus {
    color: #f0f0f0;
    background-color: #353535;
    margin-left: 0.8vw;
    padding: 1rem 2.5rem;
    font-size: 1.6vw;
    border: none;
    border-radius: 6px;
    font-weight: 900;
    font-family: GilRoyBold;
  }

  h2 {
    color: white;
    margin-top: 0.8vw;
    font-size: 1.2vw;
    font-family: font1;
    font-weight: 400;
  }

  h2 > .date {
    color: #02e797;
  }

  main .right {
    background-color: #212121;
    width: 50vw;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
  }
}

@media (max-width: 1080px) {
  nav {
    padding: 0.8rem 4.5rem;
  }

  nav > .left,
  img {
    width: 2rem;
  }

  nav > .left {
    gap: 1vw;
    width: 15vw;
  }

  nav > .left > h2,
  span {
    font-family: font5;
    font-size: 0.9rem;
    font-weight: 700;
  }

  main > .left-section > h1 {
    color: #e9e9e9;
    font-size: 2.5rem;
    font-family: font1;
    font-weight: 700;
    width: 110%;
    line-height: 4vw;
  }

  .btns {
    margin-top: 25px;
    gap: 10px;
  }

  .btns > .tp,
  .bt {
    display: flex;
    gap: 8px;
  }

  .btns > .tp > button {
    padding: 0.7rem 0.8rem;
    color: #e9e9e9;
    font-size: 0.8rem;
    font-weight: 700;
    background-color: #212121;
    border: none;
    border-radius: 6px;
  }

  .btns > .bt > button {
    padding: 0.7rem 0.8rem;
    color: #e9e9e9;
    font-size: 0.8rem;
    font-weight: 700;
    background-color: #212121;
    border: none;
    border-radius: 6px;
  }

  .price > p {
    color: #e9e9e9;
    font-size: 2rem;
  }

  .price > p > .priceValue {
    color: #02e797;
    font-size: 0.83em;
  }
  .price > p > small {
    font-size: 1.2rem;
    font-family: GilRoyMid;
  }
  .price > p > .originalValue {
    font-size: 0.6em;
    position: relative;
    color: #cbcbcb;
    opacity: 0.7;
    font-family: font1;
  }

  .price > p > .originalValue::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    width: 105%;
    background-color: #cbcbcb;
    height: 1px;
  }

  .price > .scratch {
    font-size: 1.1vw;
    font-weight: 700;
    color: #02e797;
    font-family: font1;
    text-transform: capitalize;
    letter-spacing: 1px;
  }

  .buy-btn {
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .buy-btn > .buy {
    background-color: #009560;
    color: #e9e9e9;
    padding: 1.2rem 2.8rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    font-weight: 900;
    font-family: GilRoyBold;
  }
  .buy-btn > .syllabus {
    color: #f0f0f0;
    background-color: #353535;
    padding: 1.2rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    font-weight: 900;
    font-family: GilRoyBold;
  }

  h2 {
    color: white;
    margin-top: 0.8vw;
    font-size: 1.2vw;
    font-family: font1;
    font-weight: 400;
  }

  h2 > .date {
    color: #02e797;
  }

  main .right {
    background-color: #212121;
    width: 50vw;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
  }

  main > .right > .plc {
    position: absolute;
    top: 5%;
    z-index: 111;
    color: #e9e9e9;
    right: 7%;
    padding: 0.7vw 1.6vw;
    border-radius: 8px;
    background-color: #0c0c0c;
    font-size: 0.6rem;
    font-weight: 600;
    font-family: font3;
    text-transform: uppercase;
  }
  main .right .right-in .image img {
    width: 100%;
    object-position: center;
    object-fit: cover;
  }

  main > .right > .right-in > .image-bottom {
    padding: 1.3vw;
    background-color: #1e1e1e;
    padding-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.2vw;
  }

  .image-bottom > h4 > span,
  .time {
    color: #02e797;
    font-size: 0.8rem;
    font-weight: 100;
    font-family: font1;
  }
  .image-bottom > h4 {
    padding: 0.8vw 1vw;
    font-size: 15px;
    font-weight: 300;
    border-radius: 6px;
    background-color: #151515;
    width: 19vw;
    color: white;
    font-family: GilRoyMid;
    text-transform: capitalize;
  }
}

@media (max-width: 900px) {
  nav > .left,
  img {
    width: 2.2rem;
  }

  nav > .left {
    width: 1vw;
    align-items: center;
  }

  nav > .left > h2,
  span {
    font-family: font5;
    font-size: 1rem;
    font-weight: 400;
  }

  nav > .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.2rem;
    list-style: none;
    font-family: font1;
    font-size: 1rem;
    color: var(--secondary);
  }

  nav > .right > li > span {
    font-weight: bolder;
    font-family: navText;
    font-size: 1.1rem;
    color: aliceblue;
  }

  main {
    margin-top: 6rem;
    gap: 2rem;
    flex-direction: column-reverse;
  }

  main > .left-section {
    width: 100%;
  }

  main > .left-section > h1 {
    color: #e9e9e9;
    font-size: 2.7rem;
    letter-spacing: 2px;
    font-family: font1;
    font-weight: 400;
  }

  .btns {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.8rem;
  }

  .btns > .tp,
  .bt {
    display: flex;
    gap: 0.6rem;
  }

  .btns > .tp > button {
    padding: 0.6rem 1.4rem;
    color: #e9e9e9;
    font-size: 0.8rem;
  }

  .btns > .bt > button {
    padding: 0.7rem 1.5rem;
  }

  .price {
    margin-top: 2.5ren;
  }

  .price > p {
    color: #e9e9e9;
    font-size: 4vw;
    font-family: font3;
    font-weight: 900;
  }
  .price > .scratch {
    font-size: 1rem;
    font-weight: 700;
    color: #02e797;
    font-family: font1;
    text-transform: capitalize;
    letter-spacing: 1px;
  }

  .buy-btn {
    justify-content: start;
    gap: 0.5rem;
  }

  .buy-btn > .buy {
    background-color: #009560;
    color: #e9e9e9;
    padding: 1rem 5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    font-weight: 900;
    font-family: GilRoyBold;
  }
  .buy-btn > .syllabus {
    color: #f0f0f0;
    background-color: #353535;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    font-weight: 900;
    font-family: GilRoyBold;
  }

  h2 {
    color: white;
    margin-top: 0.8vw;
    font-size: 0.9rem;
    font-family: font1;
    font-weight: 400;
  }

  main .right {
    width: 100%;
  }

  main > .right > .play-circ {
    font-size: 8vw;
    top: 37%;
  }

  main > .right > .right-in > .image-bottom {
    /* padding: 1.7vw; */
    background-color: #1e1e1e;
    gap: 1.2vw;
  }

  .image-bottom {
    margin-top: 2rem;
  }

  .image-bottom > h4 {
    padding: 1.3vw 1vw;
    width: 35vw;
    color: white;
  }
}

@media (max-width: 600px) {
  nav {
    padding: 1rem 2rem;
  }

  nav > .right {
    display: none;
  }
  nav > .nav3 {
    display: block;
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
  }

  nav > .left {
    align-items: start;
  }

  nav > .left,
  img {
    width: 1.6rem;
  }

  nav > .left > h2,
  span {
    /* background-color: #24cfa6; */
    font-size: 0.8rem;
    font-weight: 600;
    white-space: nowrap;
  }
}
