:root {
  --primary: #0c0c0c;
  --secondary: #e9e9e9;
}

@font-face {
  font-family: navText;
  src: url("fonts/NeueMachina-Light_gwWCZxVuQl.ttf");
}

@font-face {
  font-family: GilRoyMid;
  src: url("fonts/Gilroy-Medium_eHDK2RllDd.ttf");
}

@font-face {
  font-family: GilRoyBold;
  src: url("fonts/Gilroy-Bold_JK4cTGJOE.ttf");
}

@font-face {
  font-family: font1;
  src: url("fonts/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2");
}

@font-face {
  font-family: font2;
  src: url("fonts/Fontspring-DEMO-juana-extralightit_toKzXEsfr.ttf");
}

@font-face {
  font-family: font3;
  src: url("fonts/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2");
}

@font-face {
  font-family: font4;
  src: url("fonts/remixicon.woff2");
}
@font-face {
  font-family: font5;
  src: url("fonts/NeueMachina-Light_gwWCZxVuQl.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--primary);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .5rem 5rem;
  position: fixed;
  top: 0;
}

nav > .left,
img {
  width: 42px;
}

nav > .left {
  display: flex;
  align-items: end;
  justify-items: center;
  gap: 1vw;
  
  width: 15vw;
  color: #ffffffb6;
}

nav > .left > h2,
span {
  font-family: font5;
  font-size: 1.2vw;
  font-weight: 400;
}

nav > .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  list-style: none;
  font-family: font1;
  font-size: 1rem;
  color: var(--secondary);
}

nav > .right > li > span {
  font-weight: bolder;
  font-family: navText;
  font-size: 1.2rem;
  color: aliceblue;
}

nav > .right > button {
  padding: 8px 20px;
  border: none;
  font: bold;
  background-color: #24cfa6;
  font-size: 1.1rem;
  border-radius: 5px;
}

nav > .nav3 {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  font-size: 1.5rem;
  display: none;
}

main {
  padding: 0.8rem 5rem;
  margin-top: 5rem;
  display: flex;
  gap: 5rem;
  align-items: start;
  width: 100%;
  justify-content: space-between;
}

main > .left-section {
  width:40vw;
}

main > .left-section > h1 {
  color: #e9e9e9;
  font-size: 3vw;
  font-family: font1;
  /* letter-spacing: 2px; */
  font-weight: 700;
}

.btns {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.btns > .tp,
.bt {
  display: flex;
  gap: 10px;
}

.btns > .tp > button {
  padding: 10px 20px;
  color: #e9e9e9;
  font-size: 0.9rem;
  font-weight: 700;
  background-color: #212121;
  border: none;
  border-radius: 6px;
}

.btns > .bt > button {
  padding: 10px 20px;
  color: #e9e9e9;
  font-size: 0.9rem;
  font-weight: 700;
  background-color: #212121;
  border: none;
  border-radius: 6px;
}

.price {
  margin-top: 3rem;
  flex-direction: column;
  /* background-color: #e9e9e9; */
}

.price > p {
  color: #e9e9e9;
  font-size: 2.5rem;
  font-family: font3;
  font-weight: 700;
}

.price > p > .priceValue {
  color: #02e797;
  font-size: 0.83em;
}
.price > p > small {
  font-size: 1.4rem;
}
.price > p > .originalValue {
  font-size: 0.6em;
  position: relative;
  color: #cbcbcb;
  opacity: 0.7;
  font-family: font1;
}

.price > p > .originalValue::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 105%;
  background-color: #cbcbcb;
  height: 1px;
}

.price > .scratch {
  font-size: 1.1rem;
  font-weight: 700;
  color: #02e797;
  font-family: font1;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.buy-btn {
  margin-top: 2rem;
}
.buy-btn > .buy {
  background-color: #009560;
  color: #e9e9e9;
  padding: 1rem 4rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 6px;
  font-weight: 900;
  font-family: GilRoyBold;
}
.buy-btn > .syllabus {
  color: #F0F0F0;
  background-color: #353535;
  margin-left: .8rem;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 6px;
  font-weight: 900;
  font-family: GilRoyBold;
}

h2 {
  color: white;
  margin-top: .8rem;
  font-size: 1.2rem;
  font-family: font1;
  font-weight: 400;
}

h2 > .date {
  color: #02e797;
}


main > .right-section {
  width: 45vw;
  /* height: 70vh; */
  border-radius: 14px;
  background-color: #1E1E1E;
  /* margin-top: 3rem; */
  
}

.right-section > .video {
  height: 60%;
  background-color: #009560;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-section > .video > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.right-section > .perks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  color: white;
}



@media (max-width: 600px) {
  nav {
    padding: 1rem 2rem;
  }

  nav > .right {
    display: none;
  }
  nav > .nav3 {
    display: block;
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
  }

  nav > .left {
    align-items: start;
  }

  nav > .left,
  img {
    width: 1.6rem;
  }

  nav > .left > h2,
  span {
    /* background-color: #24cfa6; */
    font-size: 0.8rem;
    font-weight: 600;
    white-space: nowrap;
  }
}
